<h1>Listing artists</h1>

<%= will_paginate @artists %>

<%= render 'search' %>

<table>
  <tr>
  <th><%= link_to_unless_current("Name", artists_path(params.merge(:sort => 'name', :order => 'asc'))) do %>
      <%= link_to "Name", artists_path(params.merge(:sort => 'name', :order => 'desc')) %>
      <% end %>
    </th>
    <th><%= link_to_unless_current("Song Count", artists_path(params.merge(:sort => 'songs', :order => 'desc'))) do %>
      <%= link_to "Song Count", artists_path(params.merge(:sort => 'songs', :order => 'asc')) %>
      <% end %>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.songs_count %></td>    
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :submenu do %>
  <%= link_to 'New Artist', new_artist_path %>
<% end %>
